*{
    margin: 0%;
    padding: 0%;
}

.sg{
     color:rgb(251, 255, 0);
     background-color: aqua;
     padding: 3vh;
     text-align: center;
}
pre{
    background-color: rgb(128, 54, 54);
    padding: 5vh;
    font-size: 25px;
    color:white;
}